.switch-body {
  min-height: 40px;
  margin: .5rem;
  border-radius: .5rem;
  user-select: none;
  padding: .75rem;
  background: #fff;
  border: 1px solid black;
}

.switch-body-content {
  min-width: 30vw;
}
