$light-gray: #ddd;
$gray: gray;

.side-menu-container{
    display: flex;
    flex-direction: column;
}

.side-menu-item{
    padding: 1rem;
    margin: .25rem;
    background: $light-gray;
}

.active { 
    background: $gray;
}